/* Estilo geral do corpo */
* {
    font-family: "Mulish", sans-serif;
    font-weight: 100;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #130930;
    color: #FE59BB;
    overflow-x: hidden;
    position: relative;
    min-height: 100vh;
}

/* --------- */
/* Navbar Section  */
/* --------- */

.sticky {
    background-color: #130930 !important;
    transition: all 0.3s ease-out 0s !important;
    box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171) !important;
    backdrop-filter: blur(15px) !important;
}

/* Estilo inicial do navbar */
.navbar {
    font-family: "Mulish", sans-serif;
    font-weight: 0;
    font-style: regular;
    background-color: transparent; /* Fundo transparente inicialmente */
    transition: background-color 0.3s ease-out, box-shadow 0.3s ease-out; /* Transição suave para a cor e sombra */
    padding: 0.3rem 2rem;
    font-size: 1.2rem;
    position: fixed !important;
    width: 100%;
    z-index: 1000; /* Garante que o navbar fique sobre outros elementos */
}

/* Estilo aplicado ao navbar quando a página é rolada para baixo */
.navbar-scrolled {
    background-color: rgba(26, 13, 62, 0.8); /* Cor de fundo com 80% de opacidade */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Leve sombra */
}

.navbar-toggler {
    border: 1px solid rgba(26, 13, 62, 0.9); /* Cor da borda igual à cor de fundo com transparência */
    outline: none; /* Remove o contorno */
    background-color: transparent; /* Define o fundo como transparente, se necessário */
    z-index: 1;
}
.navbar-toggler:focus {
    border-color: rgba(26, 13, 62, 0.9); /* Cor da borda igual à cor de fundo com transparência */
    box-shadow: none; /* Remove o efeito de sombra ao focar */
}

/* Estilos para as barras do sanduíche */
.navbar-toggler span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #FE59BB; /* Cor rosa */
    margin: 5px auto;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Começar com o sanduíche fechado */
.navbar-toggler span:nth-child(1) {
    transform: translateY(-8px) rotate(45deg);
}
.navbar-toggler span:nth-child(2) {
    opacity: 0;
}
.navbar-toggler span:nth-child(3) {
    transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler span:nth-child(4) {
    display: none; /* Oculto por padrão */
}

/* Animação para o estado não colapsado (aberto) */
.navbar-toggler.collapsed span:nth-child(1),
.navbar-toggler.collapsed span:nth-child(3) {
    transform: rotate(0);
}
.navbar-toggler.collapsed span:nth-child(2) {
    opacity: 1;
}
.navbar-toggler.collapsed span:nth-child(4) {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

/* Menu toggle */
.navbar-collapse.collapse.show {
    display: block !important;
}

@media (max-width: 767px) {
    .navbar {
        padding: 1rem 2rem !important;
        font-size: 1.4rem !important;
        background-color: #130930 !important;
        height: 50px;
    }
    .navbar-collapse.show {
        background-color: rgba(26, 13, 62, 0.9); /* Cor de fundo com transparência */
    }
    .navbar-nav .nav-item a::after {
        display: none !important;
    }
}

.navbar-brand {
    color: rgb(250, 250, 250) !important;
}

.navbar-nav .nav-link {
    color: white !important;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

.nav-link {
    padding: 0.8rem 1rem !important;
}

@media (max-width: 767px) {
    .nav-link {
        padding: 0.7rem 1rem !important;
    }
}

.navbar-nav .nav-item {
    position: relative;
    margin-left: 20px;
}

.navbar-nav .nav-item a {
    font-weight: 400;
    transition: all 0.3s ease-out 0s;
    position: relative;
    z-index: 1;
}

.navbar-nav .nav-item a::after {
    content: "";
    position: relative;
    display: block;
    height: 5px;
    width: 0;
    border-radius: 16px;
    background: #FE59BB; /* Cor de destaque rosa */
    bottom: 1px;
    left: 0;
    z-index: -1;
    transition: all 0.3s ease-out 0s;
}

.navbar-nav .nav-item a:hover::after {
    width: 100%;
}


/* Configuração inicial para o contêiner das estrelas */
.stars-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}

/* Estrelas individuais */
.star {
    position: absolute;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0) 70%);
    opacity: 0;
    animation: twinkle 5.5s infinite ease-in-out;
}
.star.glow {
    box-shadow: 0 0 10px rgba(173, 216, 230, 1); /* Brilho mais intenso para alguns pontos */
}

/* Animação de queda e brilho das estrelas */
@keyframes fall {
    to {
        transform: translateY(calc(100vh + 10px));
    }
}

@keyframes twinkle {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(1.5);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}

/* Gradiente colorido para estrelas */
@keyframes colorChange {
    0% { background-color: #FE59BB; }
    25% { background-color: #00BFFF; }
    50% { background-color: #FF6347; }
    75% { background-color: #FFD700; }
    100% { background-color: #FE59BB; }
}

/* Animação intermitente */
@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

.blink {
    animation: blink 2s infinite;
}

/* Estilo responsivo para ícones sociais */
@media (max-width: 768px) {
    .social-icon {
        font-size: 1.2em; /* Diminuído o tamanho dos ícones em telas menores */
    }
}

@media (max-width: 480px) {
    .social-icon {
        font-size: 1em; /* Diminuído ainda mais o tamanho dos ícones em telas muito pequenas */
    }
}


/* Estilos para a seção faixa-fotos */
.faixa-fotos {
    padding: 60px 0;
    background-color: #130930; /* Ajuste a cor de fundo conforme necessário */
}

/* Estilo das molduras */
.molduras-orbita {
    display: flex;
    flex-wrap: wrap;
    gap: 27px;
    justify-content: center;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.moldura {
    background-color: transparent;
    border: 2px solid #FE59BB;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    height: 320px;
    text-align: center;
    position: relative;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    box-sizing: border-box;
}

.moldura i {
    font-size: 50px;
    color: #FE59BB;
    margin: 30px 0;
}

.item-info {
    position: absolute;
    top: -20px;
    background-color: #1a0d3e;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid #FE59BB;
    color: #FE59BB;
    font-weight: bold;
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%);
}

.botao-container {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    padding: 0 20px;
    box-sizing: border-box;
}

.comprar-btn {
    background-color: #FE59BB;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, font-size 0.3s;
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
}

.comprar-btn:hover {
    background-color: #9D4EDD;
}

.comprado {
    background-color: #4CAF50;
    color: white;
    cursor: default;
    border: none;
}

/* Estilo do formulário de faixa de preços */
.preco-secao {
    padding: 30px;
    margin: 0 auto;
    background-color: transparent;
    max-width: 300px;
    box-sizing: border-box;
    position: relative; /* Para posicionamento da seta */
}

.preco-titulo {
    color: #FE59BB;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 30px;
}

.preco-titulo::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 10px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #FE59BB; /* Cor da seta */
}

.preco-titulo:hover::after {
    border-top-color: #9D4EDD; /* Cor da seta ao passar o mouse */
}


/* Responsividade */
@media (max-width: 768px) and (min-width: 481px) {
    .molduras-orbita {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around; /* Mantém o espaço entre molduras */
        gap: 20px;
        width: 390px;
    }

    .moldura {
        padding: 15px;
        width: calc(100% - 20px); /* Ocupa quase toda a largura no mobile */
        height: 250px;
    }

    .moldura i {
        font-size: 40px;
        margin: 20px 0;
    }

    .botao-container {
        bottom: 15px;
        padding: 0 15px;
    }

    .comprar-btn {
        font-size: 14px;
        padding: 8px;
    }

    .preco-secao {
        padding: 15px;
    }

    .preco-titulo {
        font-size: 1.2em;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .molduras-orbita {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around; /* Mantém o espaço entre molduras */
        gap: 20px;
        width: 390px;
    }

    .moldura {
        padding: 15px;
        width: calc(100% - 20px); /* Ocupa quase toda a largura no mobile */
        height: 250px;
    }

    .moldura i {
        font-size: 45px;
        margin: 15px 0;
    }

    .botao-container {
        bottom: 12px;
        padding: 0 10px;
    }

    .comprar-btn {
        font-size: 12px;
        padding: 6px;
    }

    .preco-secao {
        padding: 10px;
    }

    .preco-titulo {
        font-size: 1em;
        text-align: center;
    }
}


.form-group {
    margin-bottom: 20px;
}

.form-control {
    background-color: #1a0d3e;
    color: #FE59BB;
    border: 1px solid #FE59BB;
    border-radius: 8px;
    padding: 3px;
    font-family: 'Mulish', sans-serif;
    font-size: 1em;
    
}

.form-control:focus,
.form-control:active {
    background-color: #1a0d3e; /* Mantém o fundo escuro */
    color: #FE59BB; /* Mantém a cor do texto */
    border-color: #FE59BB; /* Mantém a cor da borda */
    outline: none; /* Remove o contorno padrão do navegador */
}

/* Estilo do footer */
footer {
    position: fixed; /* Mantém o footer fixo no final da página */
    bottom: 0; /* Alinha o footer ao final da janela */
    left: 0; /* Alinha o footer à esquerda da página */
    background-color: #1a0d3e;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    width: 100%;
    font-weight: 50; /* Ajuste o peso da fonte para menos negrito */
    z-index: 1000; /* Garante que o footer esteja acima de outros elementos */
}

.social-icon {
    margin: 0 10px;
    color: #FE59BB;
    font-size: 24px;
    transition: color 0.3s;
    text-decoration: none;
}

.social-icon:hover {
    color: #ffffff;
    text-decoration: none;
}

.name {
    font-size: 14px;
    margin-top: 10px;
}

.copyright {
    font-size: 12px;
    margin-top: 10px;
    color: #FE59BB;
    text-decoration: none;
}

/* Estilo responsivo para ícones sociais */
@media (max-width: 768px) {
    .social-icon {
        font-size: 1.2em;
        /* Diminuído o tamanho dos ícones em telas menores */
    }
}

@media (max-width: 480px) {
    .social-icon {
        font-size: 1em;
        /* Diminuído ainda mais o tamanho dos ícones em telas muito pequenas */
    }
}
/* Estilo da seção de introdução */
.introducao-secao {
    padding: 20px;
    background-color: #130930;
    color: white;
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
    box-sizing: border-box;
}

.introducao-titulo {
    color: #FE59BB;
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
    font-weight: lighter;
}

.introducao-paragrafo {
    font-size: 1em;
    line-height: 1.8;
    margin: 0 auto;
    padding: 0 10px;
}

/* Centraliza a imagem dentro do contêiner */
.image-center {
    text-align: center; /* Centraliza o conteúdo dentro do contêiner */
    margin-top: 20px; /* Espaçamento superior, ajuste conforme necessário */
}

.image-center img {
    max-width: 60%; /* Garante que a imagem não ultrapasse o contêiner */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 10px; /* Adiciona bordas arredondadas, ajuste conforme desejado */
}

/* Media queries para responsividade */
@media (max-width: 768px) {
    .nav-menu {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-menu a {
        padding: 8px 12px;
    }

    .moldura {
        width: 150px;
        padding: 15px;
    }

    .moldura i {
        font-size: 40px;
    }

    .comprar-btn {
        font-size: 14px;
        padding: 8px 16px;
    }

    .preco-secao {
        padding: 15px;
    }

}

@media (max-width: 480px) {
    .nav-menu a {
        font-size: 14px;
        padding: 6px 10px;
    }

    .moldura {
        width: 120px;
        padding: 10px;
    }

    .moldura i {
        font-size: 30px;
    }

    .comprar-btn {
        font-size: 12px;
        padding: 6px 12px;
    }

    .preco-secao {
        padding: 10px;
    }

}

#logo{
    width: 25%;
}

/* Remove o cursor de texto piscando ao clicar na página */
body, input, textarea {
    cursor: default;
    user-select: none; /* Previne a seleção de texto */
}

input:focus, textarea:focus, button:focus {
    outline: none; /* Remove o contorno padrão ao focar */
}
